
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    color: $black;
}
button {
    outline: none;
    &:focus{
        outline: none;
    }
}
ul,
ol {
    margin: 0;
    list-style-type: none;
}

a,
a:link,
a:visited,a:hover {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s all ease;
}

i,span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.wrapper{
    min-height: 100vh;
}