//Break points
@mixin bp($point) {

    $xxxxxs-max: "(max-width: 374px)";
    $xxxxs-max: "(max-width: 480px)";
    $xxxs-max: "(max-width: 574px)";
    $xxs-max: "(max-width: 667px)";
    $xs-max: "(max-width: 767px)";
    $sm-max: "(max-width: 991px)";
    $md-max: "(max-width: 1024px)";
    $lg-max: "(max-width: 1199px)";
    $xlg-max: "(max-width: 1366px)";
    $xl-max: "(max-width: 1564px)";
    $xxl-max: "(max-width: 1700px)";

    @if $point==xxxxxs-max {
        @media #{$xxxxxs-max} {
            @content;
        }
    }
    @if $point==xxxxs-max {
        @media #{$xxxxs-max} {
            @content;
        }
    }

    @else if $point==xxxs-max {
        @media #{$xxxs-max} {
            @content;
        }
    }

    @else if $point==xxs-max {
        @media #{$xxs-max} {
            @content;
        }
    }

    @else if $point==xs-max {
        @media #{$xs-max} {
            @content;
        }
    }

    @else if $point==sm-max {
        @media #{$sm-max} {
            @content;
        }
    }

    @else if $point==md-max {
        @media #{$md-max} {
            @content;
        }
    }

    @else if $point==lg-max {
        @media #{$lg-max} {
            @content;
        }
    }

    @else if $point==xlg-max {
        @media #{$xlg-max} {
            @content;
        }
    }

    @else if $point==xl-max {
        @media #{$xl-max} {
            @content;
        }
    }

    @else if $point==xxl-max {
        @media #{$xxl-max} {
            @content;
        }
    }
}